<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="reglas" value="526,100" />
    <add key="HashServidores" value="0" />
    <add key="PathServidoresJson" value="C:\ADN\IDEKernel\servidores.json" />
    <add key="PathStorageScriptsJson" value="C:\ADN\IDEKernel\StorageScripts.json" />
    <add key="PathScriptSQL" value="C:\ADN\IDEKernel\spConKernelIDE.sql" />
    <add key="IsProd" value="0" />
    <add key="connDebug" value="Data Source={0}; Initial Catalog={1}; Integrated Security=True" />
    <add key="conn" value="Data Source={0}; Initial Catalog={1}; User Id={2}; Password={3}" />
    <add key="LabDefault" value="{&quot;Paises&quot;: [{&quot;Nombre&quot;: &quot;MX&quot;,&quot;Canales&quot;: [{&quot;Nombre&quot;: &quot;EKT&quot;,&quot;Servidores&quot;: [{&quot;Nombre&quot;: &quot;LOCALHOST&quot;,&quot;Ip&quot;: &quot;0.0.0.0&quot;,&quot;Total&quot;: &quot;0&quot;,&quot;TotalAct&quot;: &quot;0&quot;,&quot;TotalDesac&quot;: &quot;0&quot;,&quot;Usuario&quot;: &quot;USUARIO&quot;,&quot;Password&quot;: &quot;PASSWORD&quot;,&quot;BD&quot;: &quot;BASE&quot;,&quot;estatus&quot;: false}]}]}]}" />
    <add key="ChromePath" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
    <add key="PropiedadesPermitidas" value="e,i,log,loop,fire,thread,invoke,db,kill,copy,del,mkdir,fa,exe,sql,foreach,if,key,reg,param,exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>